<%= form_for @post do |i| %>
  <%= render "errors" %>

  <p>
    <%= i.label :title %>
    <%= i.text_field :title %>
  </p>

  <p>
    <%= i.label :url %>
    <%= i.text_field :url %>
  </p>

  <p>
    <%= i.label :categories %>
    <
  </p>


  <p>
    <% @categories.each do |category| %>
      <%= link_to category.name, class: "category" %>
    <% end %>
  </p>

  <p>
    <%= i.submit "Submit" %>
  </p>
<% end %>
