<%= form_for @post do |i| %>
  <%= render "errors" %>

  <p>
    <%= i.label :title %>
    <%= i.text_field :title %>
  </p>

  <p>
    <%= i.label :url %>
    <%= i.text_field :url %>
  </p>

  <p>
    <%= i.label :category_id, "Pick a category" %>
    <%= i.hidden_field :category_id %>
    <input type="text" value="jimmy" id="post_category" />
    <br />
    Choices:
    <% @categories.each do |category| %>
    <%= link_to category.name, "", class: "category", data: { :"category-id" =>category.id } %>
    <% end %>
  </p>

  <p>
    <%= i.submit "Submit" %>
  </p>
<% end %>
