<%= link_to "Edit", edit_post_path(@post) %>

<p>
  <%= @category.name %>
</p>

<p class="voteable">
  <%= link_to "", post_votes_path(@post, value: 1), class: "icon-chevron-up upvote" %>
   <span class="score">
    <%= @post.score %>
  </span>
  <%= link_to "", post_votes_path(@post, value: -1), class: "downvote icon-chevron-down" %>
  <%= link_to @post.title, @post.url %>
  <br />
  <%= link_to "#{pluralize(@post.comments.count, "comment")}", post_path(@post) %>
</p>

<%= render "comments/form" %>

<ul>
  <% @comments.each do |comment| %>
    <li class="voteable">
      <%= link_to "", post_votes_path(comment, value: 1), class: "icon-chevron-up upvote" %>
      <span class="score">
        <%= @post.score %>
      </span>
      <%= link_to "", post_votes_path(comment, value: -1), class: "downvote icon-chevron-down" %>
      <%= comment.body %>
    </li>
  <% end %>
</ul>
